.ui.input {
  margin-left: .6rem;
}

.code-block.flex-between {

  .a-line-code {
    width: 50%;
  }

  .demo-app {
    width: 40%;
  }

  @media all and (max-width: 992px) {
    & {
      flex-direction: column;
    }

    .a-line-code,
    .demo-app {
      width: 100%;
    }

    .demo-app {
      margin-top: 24px;

      &.selecting {
        margin-bottom: 70px;
      }

      &.option-undo.selecting {
        margin-bottom: 116px;
      }
    }
  }
}