.demo {
  transition: all 0.2s ease-out;
}

.a-line-code {
  width: 50%;
}

.a-line-code,
.demo-app {
  margin-top: .3rem;
}

@media (max-width: 768px) {
  .demo.selecting {
    margin-bottom: 12rem;
  }
  .demo-app {
    margin-top: 2rem;
  }
}