header.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding: 3px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #3e4c5a;
  background-color: var(--background-color-primary-transparent);

  a {
    text-decoration: none;
  }

  .navbar-site {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 2.2rem;
    margin-right: .7rem;
    vertical-align: top;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color-primary);
    position: relative;
    overflow-wrap: break-word;
  }

  .navbar-items {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }

  .navbar-items .navbar-item {
    position: relative;
    display: inline-block;
    margin: 0 0.6rem;
  }

  .navbar-dropdown {
    float: left;
    overflow: hidden;
    
    &:hover {
      .navbar-dropdown--content {
        display: block;
      }
    }

    .navbar-dropdown--button {
      font-size: 16px;
      border: none;
      outline: none;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar-dropdown--content {
      display: none;
      position: absolute;
      background-color: var(--background-color-primary);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      .navbar-dropdown--option {
        float: none;
        color: var(--text-color-primary);
        padding: 6px 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        cursor: pointer;

        &.active {
          background-color: var(--background-color-secondary);
          cursor: auto;
        }
      }

      .navbar-dropdown--option:hover {
        background-color: var(--background-color-tertiary);
      }
    }
  }
}