header.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 3.6rem;
  padding: 3px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #3e4c5a;
  background-color: #22272e;

  a {
    text-decoration: none;
  }

  .navbar-site {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 2.2rem;
    margin-right: .7rem;
    vertical-align: top;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #adbac7;
    position: relative;
    overflow-wrap: break-word;
  }

  .navbar-items .navbar-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
  }

  // .color-mode-toggle {
  //   position: relative;
  //   overflow: hidden;
  //   display: inline-flex;
  //   gap: 0.75rem;
  //   align-items: center;
  //   padding: 0.5rem;
  //   background-color: #444;
  //   border-radius: 2rem;
  //   user-select: none;
  //   cursor: pointer;
  //   transition: translate 0.3s, background-color 0.8s;

  //   &::before {
  //     position: absolute;
  //     top: 1px;
  //     left: 1px;
  //     content: "";
  //     height: calc(100% - 2px);
  //     aspect-ratio: 1;
  //     border-radius: 50%;
  //     transition: translate 0.3s, background-color 0.8s;
  //     background: #fff;
  //   }

  //   input {
  //     position: absolute;
  //     appearance: none;
  //   }

  //   span {
  //     position: relative;
  //     transition: translate 0.6s ease 0.2s;

  //     &:nth-of-type(1) {
  //       translate: 0 150%;
  //     }

  //     &:nth-of-type(2) {
  //       translate: 0 0%;
  //     }
  //   }

  //   &:has(input:checked) {
  //     background-color: #ddd;

  //     span:nth-of-type(1) {
  //       translate: 0 0%;
  //     }

  //     span:nth-of-type(2) {
  //       translate: 0 -150%;
  //     }
  //   }

  //   &:has(input:checked)::before {
  //     translate: 100% 0;
  //     background-color: #444;
  //   }
  // }

  .navbar-dropdown {
    float: left;
    overflow: hidden;
    
    &:hover {
      .navbar-dropdown--content {
        display: block;
      }
    }

    .navbar-dropdown--button {
      cursor: pointer;
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar-dropdown--content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .navbar-dropdown--content .navbar-dropdown--option {
      float: none;
      color: black;
      padding: 6px 12px;
      text-decoration: none;
      display: block;
      text-align: left;
      cursor: pointer;
    }

    .navbar-dropdown--content .navbar-dropdown--option:hover {
      background-color: #ddd;
    }
  }



  /* Use like: */
  [data-mode="dark"] {
    body {
      background: #444;
      color: #eee;
    }
  }
}