:root {
  --header-height: 3.6rem;
}

header {
  height: var(--header-height);
}

main {
  padding-top: var(--header-height);
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

span.arrow {
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 0.4rem;
  display: inline-block;
  width: 0;
  height: 0;
}
span.arrow.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid var(--text-color-primary);
}

.container.default {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  td,
  th {
    border: 1px solid black;
  }
}

main.default {
  line-height: 1.5;

  h2, h3, h4, h5, h6{
    margin-top: 0;
  }
  h4, h5 {
    margin-bottom: 0.5rem;
  }
}

main.bootstrap {
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  h5, h6 {
    font-weight: bold;
  }
}

hr {
  border: 1px solid var(--text-color-primary-secondary) !important;
}

.out-in-enter-active,
.out-in-leave-active {
  transition: all 0.25s ease-out;
}

.out-in-enter-from {
  opacity: 0;
  transform: translateX(10px);
}

.out-in-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}