pre.data {
  padding: 6px;
  margin: 12px;

  &.default {
    min-width: 200px;
    min-height: 130px;
  }

  &.semantic-ui {
    min-width: 200px;
    min-height: 200px;
  }

  &.bootstrap {
    min-width: 200px;
    min-height: 200px;
  }

  @media (max-width: 768px) {
    width: 100% !important;
  }
}