pre.data {
  padding: 6px;
  margin: 12px;

  &.default {
    min-height: 130px;
  }

  &.semantic-ui {
    min-height: 200px;
    width: 100%;
  }

  &.bootstrap {
    min-height: 200px;
    width: 100%;
  }
}